*.pyc
*.iml
*.swp
.project
.pydevproject
.DS_Store
.idea

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# colcon/CMake output
build
install
log

# FreeCAD
*.fcstd1
*.FCStd1
*.fcstd2
*.FCStd2
*.FCBak
Private
*.bak
.DS_Store

